<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Debrief</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/confidence.css">
</head>
<body>
<div class="container text-center mt-4">
    <h1>Debrief</h1>
    <p>Thank you for participating in our study. Please read the debriefing information below:</p>
    <iframe src="/27161_Debrief.pdf" width="100%" height="1000px">
        This browser does not support PDFs. Please download the PDF to view it: <a href="/public/27161_Debrief.pdf">Download PDF</a>.
    </iframe>
<p>After you have your code you may safely close this page. Thank you for your participation and for your patience.</p>
<h2>Your MTurk code is: {{ mturkCode }}</h2>
</div>
</body>
</html>
